/*
    TABLE OF CONTENTS
    1. VARIABLES
    2. TYPOGRAPHY
    3. GLOBAL SETTINGS
    4. HEADER
    5. THEME SWITCH BTN
*/

/*
    1. VARIABLES
*/

:root {
    --h1-font-size: 2.488rem;
    --h2-font-size: 2.074rem;
    --h3-font-size: 1.728rem;
    --h4-font-size: 1.44rem;
    --h5-font-size: 1.2rem;
    --p-font-size: 1rem;

    --light-font-weight: 300;
    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;

    --shadows-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --shadows-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
    --shadows-large-light-mode: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadows-large-dark-mode: 0 30px 60px rgba(88, 88, 88, 0.12);

    --border-radius-standard: 20px;

    // Settings for dark and light mode
    // DARK MODE IS BY DEFAULT

    --background-dark: #161616;
    --background-light: #fcfcfc;

    --heading-color-dark-mode: #ededed;
    --heading-color-light-mode: #171717;

    --p-color-dark-mode: #a0a0a0;
    --p-color-light-mode: #1b1b1b;

    --dark-gradient-color-1: #1c1c1c;
    --dark-gradient-color-2: #232323;

    --light-gradient-color-1: #f8f8f8;
    --light-gradient-color-2: #e8e8e8;

    --border-color-dark-mode: #ffffff14;
    --border-color-light-mode: #00000012;

}

/*
    VARIABLES ENDS
*/

/*
    2. TYPOGRAPHY
*/
h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--regular-font-weight);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--regular-font-weight);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--medium-font-weight);
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--medium-font-weight);
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--medium-font-weight);
}

h6 {
    font-weight: var(--bold-font-weight);
}

p {
    font-size: var(--p-font-size);
    font-weight: var(--medium-font-weight);
    color: var(--p-color-dark-mode);
    line-height: 1.75;
}

h1,
h2,
h3 {
    letter-spacing: -0.031rem;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color-dark-mode);
}

/*
    TYPOGRAPHY ENDS
*/

/*
    3. GLOBAL SETTINGS
*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-dark);
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
    color: unset;
}



/*
    GLOBAL SETTINGS ENDS
*/

/*
    4. HEADER
*/
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100vw;
    background-color: var(--background-dark);

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 26px 27px;
        position: relative;

        .logo {
            color: var(--heading-color-dark-mode);
            z-index: 10;
            font-size: 25px;
        }


        .menu-icons {
            display: none;
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;
            z-index: 10;

            .line {
                width: 30px;
                height: 2px;
                background-color: var(--background-light);
                position: absolute;
            }

            #firstLine {
                top: 6px;
            }

            #secondLine {
                top: 14px;
            }

            #thirdLine {
                top: 22px;
            }
        }

        #menuContent {
            width: 100vw;
            height: 100vh;
            position: absolute;
            z-index: 9;
            top: 0;
            right: 0;
            transform: scale(1, 0);
            padding: 86px 27px;
        }
    }

    .menu-icons {
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;

        .line {
            width: 30px;
            height: 2px;
            background-color: var(--background-light);
            position: absolute;
        }

        #firstLine {
            top: 6px;
        }

        #secondLine {
            top: 14px;
        }

        #thirdLine {
            top: 22px;
        }
    }
}

/*
    HEADER END
*/

/*
    5. THEME SWITCH BTN
*/
#themeSwitchBtn {
    position: fixed;
    bottom: 26px;
    right: 27px;
    z-index: 10;
    cursor: pointer;


    img {
        width: 30px;
        height: 30px;
    }
}

/*
    THEME SWITCH BTN END
*/