/*
    TABLE OF CONTENT
    1. VARIABLE
    2. REBOOT AND GENERAL SETTINGS
    3. HEADER
    4. PREVIEW SECTION
    5. RESOURCE SECTION
    6. SIDEBAR
    7. CODE SYNTAXT
*/

/*
    1. VARIABLES
*/
:root {
    --background-dark: #1b1b1b;

    --heading-h2-font-size: 2.074rem;
    --heading-h1-font-size: 2.488rem;
    --heading-h3-font-size: 1.728rem;
    --heading-h4-font-size: 1.44rem;
    --heading-h5-font-size: 1.2rem;
    --base-font-size-rem: 1rem;

    --heading-letter-spacing: -0.031rem;

    --code-background: #343434;
    --code-punctuation: #b3b3b3;
    --code-attribute-value: #00d061;
    --code-attribute-name: #ff97a0;
}

/*
    VARIABLES END
*/

/*
    2. REBOOT AND GENERAL SETTINGS
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-padding-top: 100px;
}

body {
    background-color: var(--background-dark);
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: var(--base-font-size-rem);

}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--code-punctuation) var(--code-background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--code-background);
    border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--code-punctuation);
    border-radius: 20px;
    border: 3px solid var(--code-background);
}

// ::-webkit-scrollbar {
//     display: block;
//     background-color: var(--code-background);
//     width: 10px;
//     border-radius: 50px;
// }

// ::-webkit-scrollbar-button {
//     color: var(--code-punctuation);
// }

a {
    color: unset;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    letter-spacing: var(--heading-letter-spacing);
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin: 4rem 0 0.5rem;
}

h3 {
    margin: 2rem 0 0.5rem;
}

h4 {
    margin: 2rem 0 1rem;
    letter-spacing: 0.5px;
}

h5 {
    margin: 2rem 0 1rem;
    letter-spacing: 1.5px;
}

h6 {
    letter-spacing: 1.5px;
    margin: 2rem 0 1rem;
}

p {
    margin: 1rem 0 2rem;
}

main.container-fluid {
    padding: 0 20px;
}

/*
    REBOOT AND GENERAL SETTINGS END
*/

/*
    3. HEADER
*/
header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--background-dark);
}

.navbar-brand,
.nav-link {
    color: white;
}

.nav-link:hover,
.navbar-brand:hover {
    color: white;
}

nav {
    position: relative;

    ul {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    // #menuBtn {
    //     position: relative;
    // }

    .navbar-toggler {
        color: transparent;
        background-color: transparent;
        border: none;
    }

    .line {
        position: absolute;
        height: 2px;
        background-color: white;
        border-radius: 50px;
    }

    #lineOne {
        top: 18px;
        right: 0;
        width: 30px;
    }

    #lineTwo {
        top: 26px;
        right: 0;
        width: 20px;
    }

    #lineThree {
        top: 34px;
        right: 0;
        width: 10px;
    }

}

/*
    HEADER END
*/

/*
    4. PREVIEW SECTION
*/
#preview {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    img {
        border-radius: 10px;

    }

    #previewContainer {
        row-gap: 30px;
    }

    .preview-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .preview-img {
        transition: all .3s ease-in;
    }

    .preview-img:hover {
        transform: scale(0.9);
    }

    .tech-icon-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 5px;
    }

    .view-all {
        text-align: center;
    }
}

/*
    PREVIEW SECTION END
*/

/*
    5. RESOURCE SECTION
*/
#resources {

    a:hover {
        color: #ffffff;
    }

    .resource-card {
        border: 1px solid #ffffff;
        width: fit-content;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 20px 10px;

        .description {
            text-align: center;
        }

    }
}

/*
    RESOURCE SECTION END
*/

/*
    6. SIDEBAR
*/

#sidebarLg {
    position: sticky;
    left: 0;
    top: 100px;
    height: 80vh;
    overflow-y: auto;

    ul,
    li {
        list-style: none;
        padding: 0 0 0 10px;
    }

    .language {
        font-weight: 600;
    }
}

#tableOfContent {
    position: sticky;
    right: 0;
    top: 100px;
    height: 90vh;

    p {
        font-size: var(--heading-h5-font-size);
    }

    ul {
        list-style: none;
        padding: 0 0 0 10px;
        border-left: 1px solid var(--code-punctuation);

        li {
            padding: 5px 0;
        }
    }
}

#sidebarMd {
    display: none;
    width: 100vw;
    background-color: var(--background-dark);
    position: relative;

    .icon-container {
        border-left: 1px solid var(--code-punctuation);
    }

    #sidebarMdContent {
        position: absolute;
        left: -500px;
        background-color: var(--background-dark);
        overflow-y: auto;
        height: 80vh;
        padding: 0 1.5rem;
        margin: 0;
        border-bottom-right-radius: 0.25rem;

        ul {
            list-style: none;
            padding: 0;

            li {
                padding: 5px 0;
            }
        }
    }
}

/*
    SIDEBAR END
*/

/*
    7. CODE SYNTAXT
*/
code {
    background-color: var(--code-background);
    padding: 0.125rem 0.25rem;
    color: #ffffff;
    border-radius: 0.25rem;
}

.example-code-card,
.copyright-card {
    width: 100%;
    background-color: var(--code-background);
    border-radius: 0.25rem;
    padding: 1rem 2.5rem 1rem 1rem;

    code {
        padding: 0;
    }

    pre {
        white-space: pre-wrap;
    }
}

.copyright-card {
    text-align: center;
    margin-top: 30px;
}

.punctuation {
    color: var(--code-punctuation);
}

.tag,
.attr-value {
    color: var(--code-attribute-value);
}

.attr-name {
    color: var(--code-attribute-name);
}

/*
    CODE SYNTAXT END
*/