/*
    TABLE OF CONTENTS
    1. VARIABLES
    2. TYPOGRAPHY
    3. GLOBAL SETTINGS
    4. BOTTOM NAV
    5. HERO SECTION
*/

/*
    1. VARIABLES
*/

:root {
    --h1-font-size: 2.488rem;
    --h2-font-size: 2.074rem;
    --h3-font-size: 1.728rem;
    --h4-font-size: 1.44rem;
    --h5-font-size: 1.2rem;
    --p-font-size: 1rem;

    --light-font-weight: 300;
    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;

    --shadows-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --shadows-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
    --shadows-large-light-mode: 0 30px 60px rgba(0, 0, 0, 0.12);
    --shadows-large-dark-mode: 0 30px 60px rgba(88, 88, 88, 0.12);

    --border-radius-standard: 20px;

    // Settings for dark and light mode
    // DARK MODE IS BY DEFAULT

    --background-dark: #161616;
    --background-light: #fcfcfc;

    --heading-color-dark-mode: #ededed;
    --haeding-color-light-mode: #171717;

    --p-color-dark-mode: #a0a0a0;
    --p-color-light-mode: #6f6f6f;

    --dark-gradient-color-1: #1c1c1c;
    --dark-gradient-color-2: #232323;

    --light-gradient-color-1: #f8f8f8;
    --light-gradient-color-2: #e8e8e8;

    --border-color-dark-mode: #ffffff14;
    --border-color-light-mode: #00000012;

}

/*
    VARIABLES ENDS
*/

/*
    2. TYPOGRAPHY
*/
h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--regular-font-weight);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--regular-font-weight);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--medium-font-weight);
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--medium-font-weight);
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--medium-font-weight);
}

h6 {
    font-weight: var(--bold-font-weight);
}

p {
    font-size: var(--p-font-size);
    font-weight: var(--medium-font-weight);
    color: var(--p-color-dark-mode);
    line-height: 1.75;
}

h1,
h2,
h3 {
    letter-spacing: -0.031rem;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color-dark-mode);
}

/*
    TYPOGRAPHY ENDS
*/

/*
    3. GLOBAL SETTINGS
*/
body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-dark);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

.slider-divider {
    width: 1px;
    border: 1px solid var(--border-color-dark-mode);
    height: 60%;
}

.card {
    padding: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border: 2px solid var(--border-color-dark-mode);
    border-radius: var(--border-radius-standard);
    background-color: transparent;
    box-shadow: var(--shadows-large-dark-mode);

    .card-heading {
        border-bottom: 2px solid var(--border-color-dark-mode);
        padding-bottom: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .card-icon {
            color: #7e7e7e;

            svg {
                width: 48px;
                height: 48px;
                border: transparent;
            }
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

        .preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            width: 100%;

            img {
                border-radius: var(--border-radius-standard);
            }

            .description {
                text-align: center;
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                align-items: center;
                width: 100%;

                .tech-details {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    svg {
                        width: 4.166666666666667vw;
                        height: 4.166666666666667vw;
                    }
                }
            }

        }
    }
}

/*
    GLOBAL SETTINGS ENDS
*/

/*
    4. BOTTOM NAV
*/
nav {
    width: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    .nav-container {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
        background-color: var(--background-dark);
        border: 1px solid var(--border-color-dark-mode);
        box-shadow: var(--shadows-large-dark-mode);
        border-radius: 20px;
        backdrop-filter: blur(100px) saturate(400%) brightness(100%);
        padding: 10px 10px;
        z-index: 10;
        transform: translateY(94px);
        animation: 500ms ease 200ms 1 normal forwards running popUpMenu;
    }

    @keyframes popUpMenu {
        from {
            opacity: 0;
            transform: translateY(94px);
        }

        to {
            opacity: 1;
            transform: translateY(-8px);
        }
    }

    .menu-btn {
        width: 48px;
        height: 48px;
        cursor: poiter;
        background-image: linear-gradient(45deg, var(--dark-gradient-color-1), var(--dark-gradient-color-2), var(--dark-gradient-color-1), var(--dark-gradient-color-2));
        background-size: 200% 100%;
        border-radius: 23%;
        color: #7e7e7e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all linear 0.3s;

        img {
            width: 24px;
            height: 24px;
            border: transparent;
        }

        .tooltip {
            position: absolute;
            bottom: 50px;
            display: flex;
            justify-content: center;

            p,
            .tooltip-content {
                display: inline;
                font-size: 7px;
            }
        }

        .home,
        .projects,
        .mode {
            display: none;
        }

        .marker {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #dbdbdb;
            position: absolute;
            bottom: -8px;
            display: none;
        }
    }



    .menu-divider {
        width: 1px;
        border: 1px solid var(--border-color-dark-mode);
        height: 38px;
    }
}

/*
    BOTTOM NAV ENDS
*/

/*
    5. HERO SECTION
*/
#hero-section {
    width: 100vw;
    height: 100vh;

    // .container {
    //     width: 100%;
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     padding: 40px 20px;

    //     .content {
    //         width: 100%;
    //         display: flex;
    //         flex-direction: column;
    //         row-gap: 35px;

    //         h3 {
    //             display: inline-block;
    //             animation-name: fadeIn;
    //             animation-duration: 0.7s;
    //             animation-delay: 0.2s;
    //             animation-iteration-count: 1;
    //             animation-fill-mode: forwards;
    //             animation-timing-function: linear;
    //         }

    //         @keyframes fadeIn {
    //             from {
    //                 opacity: 0;
    //             }

    //             to {
    //                 opacity: 1;
    //             }
    //         }

    //         .item {
    //             display: flex;
    //             flex-direction: column;
    //             row-gap: 15px;

    //             .slider-container {
    //                 display: flex;
    //                 flex-direction: row;
    //                 column-gap: 30px;
    //                 align-items: center;
    //                 flex-wrap: wrap;

    //                 .slider-item {
    //                     display: flex;
    //                     flex-direction: row;
    //                     align-items: center;
    //                     column-gap: 15px;

    //                     .preview {
    //                         width: 70%;

    //                         img {
    //                             width: 100%;
    //                             border-radius: 23%;
    //                         }
    //                     }

    //                     .caption {
    //                         width: 30%;
    //                         display: flex;
    //                         flex-direction: column;

    //                         .col {
    //                             width: 100%;
    //                             display: flex;
    //                             flex-direction: column;
    //                             justify-content: center;

    //                             .icon-container {
    //                                 display: flex;
    //                                 flex-direction: row;
    //                                 align-items: center;
    //                                 justify-content: center;
    //                                 width: 100%;

    //                                 img {
    //                                     width: 40%;
    //                                 }

    //                                 p {
    //                                     width: 60%;
    //                                 }
    //                             }


    //                             // img {
    //                             //     width: 100%;
    //                             // }

    //                             // p {
    //                             //     flex: 1;
    //                             // }
    //                         }


    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px 150px;

        .col {
            width: 40%;
            padding: 0 40px;
        }
    }
}

/*
    HERO SECTION END
*/