main {
    padding: 81px 27px;
    display: grid;
    grid-template-areas: "sidebar content table";
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 15rem);
}

#sidebarLgDevice {
    grid-area: sidebar;

    summary {
        color: var(--heading-color-dark-mode);
    }

    .main-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        color: var(--heading-color-dark-mode);
        cursor: pointer;
        width: fit-content;

        ul,
        ol,
        li {
            list-style-type: none;
            padding-left: .75rem;
        }

        .main-label {
            padding-bottom: 10px;

            .nested-label {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
        }
    }
}