/*
    TABLE OF CONTENT
    1. PROJECT SECTION
*/

/*
    1. PROJECT SECTION
*/
@media screen and (max-width: 768px) {
    #projectSection {
        height: fit-content;
        flex-direction: column;
        row-gap: 30px;
        padding-bottom: 83px;
        justify-content: flex-end;
    }

    #projectSection .heading-section {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 0;
    }

    #projectSection .preview-container {
        width: 100%;
    }

    #projectSection .preview-container .preview-carousel {
        flex-direction: row;
        row-gap: 0;
        column-gap: 40px;
    }
}

@media screen and (max-width: 425px) {
    #projectSection .heading-section h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    #projectSection .preview-container .preview-carousel .carousel-item {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 320px) {
    #projectSection .preview-container .preview-carousel .carousel-item {
        width: 250px;
        height: 250px;
    }
}

/*
    PROJECT SECTION END
*/