/*
    TABLE OF CONTENT
    1. HERO
    2. PROJECT SECTION
*/

/*
    1. HERO
*/
#hero {
    width: 100vw;
    padding: 140px 27px 60px 27px;
    display: flex;
    flex-direction: column;
    align-items: center;



    .container {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .welcome {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: step(30, end);
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .presentation {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    // .typewriter {
    //     overflow: hidden;
    //     border-right: .15em solid orange;
    //     white-space: nowrap;
    //     margin: 0 auto;
    //     /* Gives that scrolling effect as the typing happens */
    //     /* Adjust as needed */
    //     animation:
    //         typing 3.5s steps(40, end),
    //         blink-caret .75s step-end infinite;
    // }

    // /* The typing effect */
    // @keyframes typing {
    //     from {
    //         width: 0;
    //     }

    //     to {
    //         width: 100%;
    //     }
    // }

    // /* The typewriter cursor effect */
    // @keyframes blink-caret {

    //     from,
    //     to {
    //         border-color: transparent
    //     }

    //     50% {
    //         border-color: orange;
    //     }
    // }
}


/*
    HERO END
*/

/*
    2. PROJECT SECTION
*/
#project-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 26px 67px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    .carousel-container {
        width: 100%;
    }



    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 24px;
        row-gap: 24px;



        .project {
            border-radius: 10px;


            img {
                width: 100%;
                border-radius: 10px;

            }
        }
    }
}

/*
    PROJECT SECTION END
*/