/*
    TABLE OF CONTENT
    1. PROJECT SECTION
*/

/*
    1. PROJECT SECTION
*/
@media screen and (max-width: 768px) {

    #hero,
    #project-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    #project-section .carousel-container {
        overflow-x: scroll;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #project-section .container {
        flex-wrap: nowrap;
        width: fit-content;
    }

    #project-section .container .project img {
        width: 270px;
        height: 270px;
    }

}

/*
    PROJECT SECTION END
*/